* {
  text-align: center;
}

hero-img {
  background-image: url("https://res.cloudinary.com/peerspace-inc/image/upload/t6emomlkxxpyaymcn3z2.jpg");

  height: 500px;
}

img {
  width: 100%;
  height: 100%;
}

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #26456f;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}

.parallax-wrapper {
  height: 100%;
}
.parallax {
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  position: fixed;
  z-index: -100;
}

.body-txt {
  border: unset;
  margin-top: 15%;
  background-color: white;
  color: black;
}

.photo {
  margin-top: 20%;
  opacity: 50%;
}

.button {
  text-align: center;
  size: auto;
  height: 100px;
  width: 150px;

  display: inline-table;
  margin: 2px;
}

/* events component for bottom padding */
.form {
  max-width: 600px;
  margin-left: 22%;
}

.form-center {
  right: 0;
  left: 0;
}

textarea {
  width: 80%;
  height: auto;
}
