@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

* {
  text-align: center;
}

p {
  font-family: "Playfair Display", serif;
}
span {
  font-family: "Playfair Display", serif;
}
hero-img {
  background-image: url("https://res.cloudinary.com/peerspace-inc/image/upload/t6emomlkxxpyaymcn3z2.jpg");

  height: 500px;
}

img {
  width: 100%;
  height: 100%;
}

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #26456f;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}

.parallax-wrapper {
  height: 100%;
}
.parallax {
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  position: fixed;
  z-index: -100;
}

.body-txt {
  border: unset;
  margin-top: 15%;
  background-color: white;
  color: black;
}

.photo {
  margin-top: 20%;
  opacity: 50%;
}

.button {
  text-align: center;
  size: auto;
  height: 100px;
  width: 150px;

  display: inline-table;
  margin: 2px;
}

/* events component for bottom padding */
.form {
  max-width: 600px;
  margin-left: 22%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.form-center {
  right: 0;
  left: 0;
}

textarea {
  width: 80%;
  height: auto;
}

.footer {
  padding-top: 10px;
  margin-top: 0;
  border-top: unset;
  display: block;
  color: grey;
  background-image: -webkit-linear-gradient(rgb(44, 44, 44), black);
  height: 150px;
  width: auto;
}

.calendar {
  border: 0;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.box {
  position: relative;
  display: inline-block;
}

.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%;
}

.image-box {
  max-height: 300px;
  max-width: 300px;
}

.coaching-font {
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  font-weight: bold;
}

.coach-btn {
  width: 60%;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.coach-p {
  font-family: "Playfair Display", serif;
}

a {
  color: red;
}

.cover {
  display: block;
  text-align: center;
  background-color: white;
  padding-bottom: 15px;
}
